{% extends "home/template.html" %}
{% block content %}
  <head>


    </head>

<div id="box">

<div class="type">
		<span>Pasti aperti</span>
</div>
	<ul>
		{% for p in pasti %}
			<li>
				<a href="/cassa/{{ p.tavolo.numero}}">Tavolo {{ p.tavolo.numero }}</a>
			</li>
		{% endfor %}
	</ul>
<br>
	<br>

	<div class="type">
		<span>Apri nuovo pasto</span>
</div>
	<ul>
		{% for t in tavoli_disponibili %}
			<li>
				<a href="/apri/{{ t.numero }}">Tavolo {{ t.numero }}</a>
			</li>
		{% endfor %}
	</ul>



</div>
{% endblock content %}

