{% extends "home/template.html" %}
{% block content %}
  <head>

  </head>
<body>
<div class="type">
		<span>Piatti</span>
</div>
<div class="wrapper">
<div class="table">

<div class="row header blue">
      <div class="cell">
        Tipo
      </div>
      <div class="cell">
        Nome
      </div>
 <div class="cell">
        Glutine
      </div>
     <div class="cell">
        Lattosio
      </div>
    </div>
   {% for p in piatti %}
    <div class="row">

      <div class="cell">
       {{ p.tipo }}
      </div>

        <div class="cell">
        <a href="/aggiunta/{{tavolo.numero}}/{{ p.id }}">{{ p.nome }}</a>
      </div>

         <div class="cell">

        {%if p.glutenFree %}
        senza glutine
        {%else%}
        contiene glutine
        {%endif %}
      </div>
         <div class="cell">
        {%if p.lattosioAssente %}
        senza lattosio
        {%else%}
        con lattosio
        {%endif %}

      </div>
    </div>

{% endfor %}
</div>
</div>
</div>
</body>
{% endblock content %}

